<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL. - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> <!-- Example link -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="m-line">
            <img src="/images/Line.png">
            <H1>Settings</H1>
        </div>
    </header>

    <div id="settingsModal" class="settingsmodal">
        <div class="settings-modal-content">
            <h2>Account Center</h2>
            <ul>
                <li>Save News &gt;</li>
                <li>Posted News &gt;</li>
                <li>Archive &gt;</li>
                <li>Your Activity &gt;</li>
                <li>Notifications &gt;</li>
                <li>Time Management &gt;</li>
            </ul>
    
    
            <h3>Account Management</h3>
            <ul>
                <li>Change Password &gt;</li>
                <li>Update Email Address &gt;</li>
                <li>Two-Factor Authentication: Enabled/Disabled &gt;</li>
            </ul>
    
            <h3>Privacy Settings</h3>
            <ul>
                <li>Data Sharing Options &gt;</li>
                <li>Ad Preferences &gt;</li>
                <li>Profile Visibility: Public/Private &gt;</li>
            </ul>
    
            <h3>Support</h3>
            <ul>
                <li>Contact Support &gt;</li>
                <li>FAQ Section &gt;</li>
                <li>Feedback Form &gt;</li>
            </ul>
        </div>
    </div>

    <div style="background-color:#3188BF; padding: 1.1rem; position: absolute; margin:auto;">
        <h4>Built and maintained by active Team Curry Powder contributors:</h4>
        <li>Josephine</li>
        <li>Joyce</li>
        <li>Shaun</li>
    </div>

</body>
</html>